@tailwind base;
@tailwind components;
@tailwind utilities;

#screen {
    transform: scale(2,2) translate(0%, 0%);
    margin-top: 200px;
    
    @media (max-width: 500px) {
        transform: scale(1,1) translate(0%, 0%);
        margin-top: 0px;
    }
}
